<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">weight</th>
      <th scope="col">height</th>
      <th scope="col">fly</th>
      <th scope="col">fight</th>
      <th scope="col">fire</th>
      <th scope="col">water</th>
      <th scope="col">electric</th>
      <th scope="col">ice</th>
      <th scope="col">total</th>
      <th scope="col">trainer</th>
    </thead>
    <tbody>
      <% results.forEach( r => {%>
        <tr>
          <th scope="row"><%= r.id %></th>
          <td><%= r.name %></td>
          <td><%= r.weight %></td>
          <td><%= r.height %></td>
          <td><%= r.fly %></td>
          <td><%= r.fight %></td>
          <td><%= r.fire %></td>
          <td><%= r.water %></td>
          <td><%= r.electric %></td>
          <td><%= r.ice %></td>
          <td><%= r.total %></td>
          <td><%= r.trainer %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div> <!--container end-->

<div class="container">

  <form class="form-inline">
    <div class="form-group">
      <input type="number" class="form-control" placeholder="id" disabled="true" aria-label="Row id for new data to insert" aria-describedby="button-addon4">
      <input type="text" class="form-control" placeholder="tokimon name" aria-label="Tokimon name for new data to insert" aria-describedby="button-addon4">
      <input type="text" class="form-control" placeholder="trainer name" aria-label="Trainer name for new data to insert" aria-describedby="button-addon4">  
    </div>

    <div class="form-group">
      <input type="number" class="form-control" placeholder="weight" min="0" max="999" aria-label="Tokimon's weight for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="height" min="0" max="999" aria-label="Tokimon's height for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="fly" min="0" max="100" aria-label="Tokimon's fly stat for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="fight" min="0" max="100" aria-label="Tokimon's fight stat for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="fire"min="0" max="100" aria-label="Tokimon's fire stat for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="water" min="0" max="100" aria-label="Tokimon's water stat for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="electric" min="0" max="100" aria-label="Tokimon's electric stat for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="ice" min="0" max="100" aria-label="Tokimon's ice stat for new data to insert" aria-describedby="button-addon4">
      <input type="number" class="form-control" placeholder="total" disabled="true" aria-label="Tokimon's total stats for new data to insert" aria-describedby="button-addon4">
    </div>

    <div class="input-group-append" id="button-addon4">
      <button type="button" class="btn btn-outline-secondary">insert row</button>
    </div>
  </form>

  

  
</div>


</body>
</html>
